.navbar-header {
  display: flex;
  justify-content: center;
  background-color: #0f3d3e;
}
.navbar-header ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.navbar-header ul li {
  margin-inline: 20px;
  transition: 0.5s ease;
  font-size: 20px;
  text-decoration: none;
  color: #f1f1f1;
  cursor: pointer;
}
.navbar-header ul li :hover {
  color: #e2dcc8;
}

@media (max-width: 768px) {
  .navbar-header ul li {
    margin-inline: 4px;
    font-size: 15px;
  }
}
