.footer {
    text-align: center;
    height: 40vh;
    display: block;
    background-color:#0F3D3E;
  }
  .footer h1 {
    font-weight: 800;
    color: #F1F1F1;
    padding-top: 30px;
  }
  .social {
    display: block;
    margin-top: 10rem;
  }
  .social ul {
    list-style: none;
    margin-right: 30px;
    margin-top: 35px;
  }
  .social ul li a {
    color: #F1F1F1;
    background-color:#032222 ;
    padding: 13px;
    border-radius: 50%;
    margin: 10px;
    transition: ease-in-out .4s;
  }
  .social ul li {
    font-size: 25px;
    display: inline;
  }
  .social ul li a:hover {
    background-color: #ecebf0;
    color: rgb(7, 76, 97);
  }
  p{
      margin-top: 3rem;
      color: #F1F1F1;
  }

  @media (max-width: 768px) {
    .footer h1 {
      font-weight: 600;
      padding-top: 30px;
      font-size: 25px;
    }
  }

  
  
