<div class="footer">
    <div class="social">
        <h1>CONNECT WITH ME</h1>
        <ul>
            <li><a href="https://github.com/AyeshaSiddika65689"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ayesha-siddika-8b5a66223/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    <p><sup>©</sup>Copyright@2022 Ayesha</p>
</div>
