@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&display=swap");

.landing-main {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.landing-main h1 {
  font-size: 65px;
  color: #0f3d3e;
  font-weight: 900;
  padding-top: 8rem;
}
.landing-main h2 {
  color: #e2dcc8;
  font-size: 35px;
}
.landing-title {
  margin-left: 100px;
}
.landing-title button {
  padding: 5px 20px;
  background-color: #0f3d3e;
  color: #e2dcc8;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .landing-main {
    display: block;
  }
  .landing-main h1 {
    font-size: 35px;
    font-weight: 800;
    padding-top: 4rem;
    text-align: center;
  }
  .landing-main h2 {
    font-size: 15px;
    text-align: center;
  }
  img{
    height: 300px;
    margin-left: 10px;
  }
  .landing-title {
    margin-left: 0px;
  }
  .landing-title button {
    padding: 5px 18px;
    margin-left: 25px;
  }
}
