<div class="services">
    <div class="services-head">
        <h1>Services</h1>
        <h2>I'm buliding Websites and Web applications</h2>
    </div>
    <div class="services-content">
        <img src="../../assets/image/services.gif" alt="">
        <div class="para">
            <p>Focused on Web design, Development i have worked on many projects which include frontend  and backend Basically works on building websites</p>
          <button mat-button>Email <mat-icon> mail </mat-icon></button>
        </div>
    </div>
    
</div>