<div class="testimony">
    <div class="testimony-head">
        <h1> Major Projects</h1>
    </div>
    <div class="testimony-content row row-cols-1 row-cols-md-3 g-4">
       <ul class="cards col " *ngFor="let item of cardDetails">
        <li>
          <a href="{{item.path}}" class="card">
            <img src="{{item.image}}" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <div class="card__header-text">
                  <h3 class="card__title">{{item.title}}</h3>
                  <span class="card__status">Explore</span>
                </div>
              </div>
              <p class="card__description">{{item.desc}}</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
</div>