<div class="testimony">
    <div class="testimony-head">
        <h1> Major Projects</h1>
    </div>
    <div class="testimony-content row row-cols-1 row-cols-md-3 g-4">
        <div class="container" *ngFor="let item of cardDetails">
            <div class="card ">
              <div class="card-header">
                <img src="{{item.image}}" alt="rover" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">{{item.title}}</span>
                <h4>Explore</h4>
                <p>
                  {{item.desc}}
                </p>
            </div>
       </div>
    </div>
</div>